table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
    }
table{
    margin: auto;
    padding: 10px;
}

h2{
    margin: auto;
    padding: 10px;
}

.pink{
    background-color: pink;
}

.blue{
    background-color: lightblue;
}